
<head>
        <meta name="viewport"  content="with=device-width,initial-scale=1.0">
            <title>Demand Supply website</title>
            <link rel="stylesheet" href="style.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">777

</head>
<body>
    <section class="header">
        
        <div class="text-box">
            <h1> World's 2nd Largest Steel Producer</h1>
            <p>
                India is a country of 2nd largest steel production.<br>To know more specificly about this easily access this website.
            </p>
            <a href="" class="hero-btn">Visit our page to know More</a>
        </div>
    </section>
    <!-----Course-->
    <section class="production">
        <h1>
            Types Of Production In India
        </h1>
        <p>
            There are many kinds of Steel Products Across India.
        </p>
        <div class="row">
            <div class="production-col">
                <h3>Flat Products</h3>
                <p>
                    SAIL(Bokaro Steel Plant) produces flat product like sheets, slabs ,coils etc.
                </p>
            </div>
            <div class="production-col">
                <h3>Long Products</h3>
                <p>
                    SAIL(Bhilai Steel Plant) produces Long product like tmts,rails etc.
                </p>
            </div>
            <div class="production-col">
                <h3>Long & Finished Productions</h3>
                <p>
                    SAIL(Durgapur Steel Plant) produces tmts, semi finished steel products etc.
                </p>
            </div>
            <div class="production-col">
                <h3>Advanced Flat Products</h3>
                <p>
                    SAIL(Rourkela Steel Plant) produces flat product like HR plates ,HR coils SW pipes ERW pipes etc.
                </p>
            </div>
        </div>
    </section>
    <section class="steelplants">
        <h1>Steel Plants all over India</h1>
        <p>all the steel plants on the inside production are as follows.
        </p>
        <div class="row">
            <div class="steel-col">
                <img src="images/bokaro.png">
                <div class="layer">
                    <h3>BSL</h3>
                </div>
            </div>
            <div class="steel-col">
                <img src="images/bhilai.png">
                <div class="layer">
                    <h3>BSP</h3>
                </div>
            </div>
            <div class="steel-col">
                <img src="images/rorkela.png">
                <div class="layer">
                    <h3>RSP</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="facilities">
        <h1>Our Facilities</h1>
        <p> Facilities provided by all the steel plants all over India.</p>
        <div class="column">
            <div class="facilities-col">
                <img src="images/electricity.png">
                <h1>Electricity</h1>   
                <p>Provides electricity all around the city in which the plant is located.
                </p>         
            </div>
        </div>
        <div class="facilities-col">
            <img src="images/hospital.png">
            <h1>Hospital</h1>   
            <p>Provides health care facilities all around the area and socities.
            </p>         
        </div>
        <div class="facilities-col">
            <img src="images/housing.png">
            <h1>Housing</h1>   
            <p>Provides housing and socities to live around.
            </p>         
        </div>
    </section>
    <section class="developers">
        <h1>Our Developers</h1>
        <p>The developers of this website using programming and ML models.</p>
        <div class="row">
            <div class="developers-col">
                <img src="images/user1.jpeg" >
                <div>
                    <p>Btech Computer Science and Engineering
                        Bhilai Insititute of Technlogy Durg,Chattisgarh
                        Google Cloud ,Azure and Postman Api community Member
                    </p>
                    <h3>NAMAN SINGH RAJ</h3>
                </div>
            </div>
            <div class="developers-col">
                <img src="images/" >
                <div>
                    <p>Btech Computer Science and Engineering
                        C V Raman Global University, Bhuweneshwar, Odisha
                        Alpha Microsoft Learn Student Ambassador, Project Lead, GDSC CVRGU
                       
                    </p>
                    <h3>AMISHA KIRTI</h3>
                </div>
            </div>
            <div class="developers-col">
                <img src="images/" >
                <div>
                    <p>Btech Computer Science and Engineering
                        Birla Insititute Of Technology Mesra
                        Competitive Programmer , Tech Enthusiast 
                        
                    </p>
                    <h3>NIDHI PRIYA</h3>
                </div>
            </div>
            <div class="developers-col">
                <img src="images/" >
                <div>
                    <p>Btech Electronics And Communication
                        Birla Insititute Of Technology Mesra ,Ranchi
                        Coding Ninjas Active Community Member, ML Models Enthusiast
                    </p>
                    <h3>PRAGYA KUMARI</h3>
                </div>
            </div>
            <div class="developers-col">
                <img src="images/" >
                <div>
                    <p>Btech Computer Science and Engineering
                        Vellore Insititute Of Technology ,Chennai
                        Java, C/C++ and PHP Enthusiast
                    </p>
                    <h3>KASHISH</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="cta">
        <h1>To know more about us and this fucntional program Click the button below</h1>
         <a href="" class="hero-btn">Contact Us</a>
    </section>
<script>
     var navLinks = document.getElementById("navLinks");
     function showMenu(){
         navLinks.style.right = "0";

     }
     function hideMenu(){
         navLinks.style.right ="-200px";
        
     }

</script>
</body>
